@model EnhancedBlogger.Models.TopicLink

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit</h2>

<h4>TopicLink</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EditLink">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="TopicLinkId">
            <div class="form-group">
                <p>
                    An entry is required for the BlogPostId, enter id from the blogpost you are commenting on, or
                    leave entry at default of 7 for no association with any particular blog post.
                </p>
                <label asp-for="TopicItemId" class="control-label"></label>
                <input required type="number" min="1"  asp-for="TopicItemId" class="form-control">
                <span asp-validation-for="TopicItemId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TopicLinkRemark" class="control-label"></label>
                <input asp-for="TopicLinkRemark" class="form-control">
                <span asp-validation-for="TopicLinkRemark" class="text-danger"></span>
            </div>
            @{
                DateTime myNow = DateTime.Now;
                Model.LinkCreateDate = myNow;
            }            
            <div class="form-group">
                <label asp-for="LinkCreateDate" class="control-label"></label>
                <input readonly type="DateTime-local" asp-for="LinkCreateDate" class="form-control">
                <span asp-validation-for="LinkCreateDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="MyWorkSpace">Back to List</a>
</div>

