@model EnhancedBlogger.Models.TopicItem

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit</h2>

<h4>TopicItem</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EditTopicItem">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="TopicItemId" />
            <div class="form-group">
                <p>
                    An entry is required for the NoteTopicId, enter id from the Topic your item being edited is listed under
                    or leave entry at default of XX for no association with any particular Topic.
                </p>
                <label asp-for="NoteTopicId" class="control-label"></label>
                <input required type="number" min="1"  asp-for="NoteTopicId" class="form-control">
                <span asp-validation-for="NoteTopicId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <p>
                    An entry is required for the BlogPostId, enter id from the blogpost you are commenting on, or
                    leave entry at default of 9 for no association with any particular blog post.
                </p>
                <label asp-for="BlogPostId" class="control-label"></label>
                <input required type="number" min="1"  asp-for="BlogPostId" class="form-control">
                <span asp-validation-for="BlogPostId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TopicItemThought" class="control-label"></label>
                <textarea rows="10" cols="100" value=" " asp-for="TopicItemThought" class="form-control"></textarea>
                <span asp-validation-for="TopicItemThought" class="text-danger"></span>
            </div>
            @{
                DateTime myNow = DateTime.Now;
                Model.ItemCreateDate = myNow;
            }
            <div class="form-group">
                <label asp-for="ItemCreateDate" class="control-label"></label>
                <input readonly type="DateTime-local" asp-for="ItemCreateDate" class="form-control" />
                <span asp-validation-for="ItemCreateDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>
<div>
    <a asp-action="MyWorkSpace">Back to List</a>
</div>


